.idea/

# /wordpress/
/wordpress/*.*
/wordpress/wp-admin
/wordpress/wp-includes

# /wp-content/
/wordpress/wp-content/*.*
/wordpress/wp-content/languages
/wordpress/wp-content/plugins
/wordpress/wp-content/upgrade
/wordpress/wp-content/uploads

# /wp-content/themes

/wordpress/wp-content/themes/*.*
!/wordpress/wp-content/themes/package.json
/wordpress/wp-content/themes/node_modules